@font-face {
  font-family: "iconfont"; /* Project id 4475728 */
  src: url('iconfont.woff2?t=1710997114911') format('woff2'),
       url('iconfont.woff?t=1710997114911') format('woff'),
       url('iconfont.ttf?t=1710997114911') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search3:before {
  content: "\e74e";
}

.icon-task3:before {
  content: "\e602";
}

.icon-notebook_bookmarked:before {
  content: "\e75c";
}

.icon-pages:before {
  content: "\e75d";
}

.icon-repeat:before {
  content: "\e766";
}

.icon-document_text:before {
  content: "\e771";
}

.icon-sync:before {
  content: "\e786";
}

.icon-colum-height:before {
  content: "\e7ef";
}

.icon-vertical-align-middl:before {
  content: "\e7f0";
}

.icon-check-circle-fill:before {
  content: "\e844";
}

.icon-time-circle-fill:before {
  content: "\e848";
}

