@import './vc-calendar.scss';

@import './handle.scss';
// 高亮选中的taskNode节点
.plugin-task-list__hightlight-node {
  @include background_color('activeBgColor');
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 图标和描述的通用样式
.icon-label-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include color('fontColor');
  svg.icon {
    font-size: 18px;
    &.icon-box {
      @include color('notebookColor');
    }
    &.icon-doc {
      @include color('docColor');
    }
    &.icon-todo {
      @include color('todoColor');
    }
    &.icon-done {
      @include color('doneColor');
    }
  }
  span {
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
