@import './vc-calendar.scss';

// 高亮选中的taskNode节点
.plugin-task-list__hightlight-node {
  background-color: var(--tl-color-active-bg);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 图标和描述的通用样式
.icon-label-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--tl-color-text);
  svg.icon {
    font-size: 18px;
    &.icon-box {
      color: var(--tl-color-notebook-icon);
    }
    &.icon-doc {
      color: var(--tl-color-doc-icon);
    }
    &.icon-todo {
      color: var(--tl-color-todo-icon);
    }
    &.icon-done {
      color: var(--tl-color-done-icon);
    }
  }
  > span {
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.el-dialog {
  background: var(--tl-color-surface-bg);
  header {
    .el-dialog__title {
      color: var(--tl-color-text);
    }
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
