@import './themes.scss';

.vc-container {
  .vc-highlight-content-solid {
    // background-color: var(--tl-color-todo-icon) !important;
    background-color: #ffb4cb !important;
  }
  color: var(--tl-color-text);
  &.vc-bordered {
    border-color: var(--tl-color-border);
  }
  button {
    background-color: var(--tl-color-btn-bg) !important;
  }
}

.vc-popover-content-wrapper {
  color: var(--tl-color-text);
  .vc-popover-content {
    background-color: var(--tl-color-surface-deep-bg);
    button {
      background-color: var(--tl-color-btn-bg) !important;
    }
    button.is-active {
      background-color: var(--tl-color-btn-active-bg) !important;
    }
    button.is-current {
      background-color: var(--tl-color-btn-hover-bg) !important;
      color: var(--tl-color-text);
    }
  }
}

/** 每日任务情况popover浮窗 */
.vc-popover-content-wrapper {
  .vc-day-popover-container {
    .vc-day-popover-header {
      color: var(--b3-theme-on-background);
    }
    color: var(--b3-theme-on-background);
  }
}

/** dock栏中的日历样式 */
.plugin-task-list-wrap {
  .vc-container {
    border-bottom: none;
    border-radius: 0;
  }

  .vc-container .vc-pane-container {
    .vc-pane-header-wrapper {
      .vc-header {
        margin-top: 0px;
        button.vc-arrow {
          scale: 0.7;
          color: var(--tl-color-text) !important;
        }
      }
    }
    .vc-pane-layout {
      .vc-header {
        margin-top: 0px;
        .vc-title-wrapper {
          scale: 0.8;
          .vc-title {
            color: var(--tl-color-text) !important;
          }
        }
      }

      .vc-weeks {
        padding-top: 0px;
        padding-bottom: 12px;
        // 周一到周日那一行的样式
        .vc-weekdays {
          height: 20px;
          .vc-weekday {
            scale: 0.9;
            color: var(--tl-color-text) !important;
          }
        }

        // 下面的日期
        .vc-week {
          height: 20px;
          margin-top: 6px;
          .vc-day {
            scale: 0.9;
          }
        }
      }
    }
  }

  // 月视图模式下隐藏最后一行没有日期的元素
  .vc-container.vc-monthly {
    .vc-pane-container {
      .vc-pane-layout
        .vc-weeks
        .vc-week:last-child:has(.vc-day:first-child.is-not-in-month) {
        display: none;
      }
    }
  }
}
