@import './themes.scss';

.vc-container {
  .vc-highlight-content-solid {
    // background-color: var(--tl-color-todo-icon) !important;
    background-color: #ffb4cb !important;
  }
  color: var(--tl-color-text);
  &.vc-bordered {
    border-color: var(--tl-color-border);
  }
  button {
    background-color: var(--tl-color-btn-bg) !important;
  }
}

.vc-popover-content-wrapper {
  color: var(--tl-color-text);
  .vc-popover-content {
    background-color: var(--tl-color-surface-deep-bg);
    button {
      background-color: var(--tl-color-btn-bg) !important;
    }
    button.is-active {
      background-color: var(--tl-color-btn-active-bg) !important;
    }
    button.is-current {
      background-color: var(--tl-color-btn-hover-bg) !important;
      color: var(--tl-color-text);
    }
  }
}

.plugin-task-list-wrap {
  .vc-container.vc-weekly {
    border-bottom: none;
    border-radius: 0;
  }
}
